In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('roastme_toastme.csv', )
df.head()

,subreddit,author,created_utc,body
0,RoastMe,Meditation-Blue-Ball,1601866157,Size 2 face on a size 6 head
1,RoastMe,Jayboosh_Returns,1601866153,His handwriting is sloppier than his hair
2,RoastMe,contraelmundo,1601866152,Chester Bennington minus Chester Bennington pl...
3,RoastMe,deadweeboo,1601866110,Idk man you Kinda sus
4,RoastMe,throwaway_peggy,1601866107,"You're very, very generous."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subreddit    10000 non-null  object
 1   author       10000 non-null  object
 2   created_utc  10000 non-null  int64
 3   body         10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [4]:
df[df['author']=='[deleted]']

     subreddit     author  created_utc       body
20     RoastMe  [deleted]   1601865836  [removed]
54     RoastMe  [deleted]   1601865354  [removed]
69     RoastMe  [deleted]   1601865041  [removed]
78     RoastMe  [deleted]   1601864794  [deleted]
87     RoastMe  [deleted]   1601864601  [deleted]
...        ...        ...          ...        ...
9734   toastme  [deleted]   1600816964  [removed]
9763   toastme  [deleted]   1600814573  [deleted]
9851   toastme  [deleted]   1600805090  [removed]
9859   toastme  [deleted]   1600804290  [removed]
9860   toastme  [deleted]   1600804225  [removed]

[373 rows x 4 columns]

In [5]:
to_drop=list(df[df['author']=='[deleted]'].index)

In [6]:
df.drop(to_drop, inplace=True)

In [7]:
df.shape

(9627, 4)

In [8]:
df['subreddit'] = df['subreddit'].map({'RoastMe': 1, 'toastme':0})

In [9]:
df

,subreddit,author,created_utc,body
0,1,Meditation-Blue-Ball,1601866157,Size 2 face on a size 6 head
1,1,Jayboosh_Returns,1601866153,His handwriting is sloppier than his hair
2,1,contraelmundo,1601866152,Chester Bennington minus Chester Bennington pl...
3,1,deadweeboo,1601866110,Idk man you Kinda sus
4,1,throwaway_peggy,1601866107,"You're very, very generous."
...,...,...,...,...
9995,0,1mJustugly,1600799323,thank you really! Yeah... i hardly smile but w...
9996,0,themaincotton_mouth,1600799202,A toast🍞
9997,0,bekindalways23,1600799196,Generally when you do the right thing (as you ...
9998,0,DexterSaintJock,1600799180,"I've had it before, stick around and then afte..."
9999,0,primeirofilho,1600799109,"From your title, I was expecting something dif..."

In [14]:
df[df['body'].str.contains("message")]

,subreddit,author,created_utc,body
160,1,TryReadingASidebar,1601863534,"Hi /u/the_real_Snail_pope, thanks for your sub..."
189,1,AutoModerator,1601862868,"oh, it's you again. you're still at it, huh? a..."
298,1,Sunkisty,1601860395,"Hi /u/agp83, thanks for your submission to /r/..."
418,1,AutoModerator,1601858561,Your post has been automatically removed as an...
431,1,TryReadingASidebar,1601858429,"Hi /u/mickpapine, thanks for your submission t..."
...,...,...,...,...
9529,0,AutoModerator,1600853978,Hi duchesscuunt and thank you for posting here...
9566,0,WarrioronVacation,1600843784,Stay strong brother. You looks like a kind sou...
9628,0,fiery-gizzard,1600831641,"Nicole Kidman, is that you? You're stunning! A..."
9959,0,Bach2theFuchsia53,1600801055,You got it! I'll send you a private message!
9973,0,Uberhuman94,1600800601,Thats super shitty that they did that and supe...

In [24]:
df['body'].loc[298]

'Hi /u/agp83, thanks for your submission to /r/RoastMe! Unfortunately, your post was removed for the following reason(s):\r\n\r\n- **NOT HOLDING SIGN**: The person(s) being roasted must be holding the sign, not someone else holding it in front of them. Please resubmit with the person being roasted holding the sign. \r\n\r\n\r\n\r\nIf you feel that it has been removed in error, please [message us](https://www.reddit.com/message/compose?to=%2Fr%2FRoastMe) so that we may review it.'

In [25]:
to_drop_2 = list(df[df['body'].str.contains("message")].index)
df.drop(to_drop_2, inplace = True)

In [26]:
df.shape

(9524, 4)

In [27]:
df.to_csv('roast_toast_final.csv', index = False)