In [1]:
import pandas as pd
import requests
import time

In [3]:
url = 'https://api.pushshift.io/reddit/search/comment'
posts_list = []
utc = 1601866162
for i in range(1,51):
    params = {
        'subreddit': 'roastme',
        'size': 100,
        'before': utc
    }
    res = requests.get(url, params)
    
    posts_list.extend(res.json()['data'])
    
    utc = res.json()['data'][99]['created_utc']
    print(f'loop ran {i} times')
    time.sleep(10)


df = pd.DataFrame.from_dict(posts_list)
df_roastme_comments = df[['subreddit', 'author', 'created_utc', 'body']]
df_roastme_comments

loop ran 1 times
loop ran 2 times
loop ran 3 times
loop ran 4 times
loop ran 5 times
loop ran 6 times
loop ran 7 times
loop ran 8 times
loop ran 9 times
loop ran 10 times
loop ran 11 times
loop ran 12 times
loop ran 13 times
loop ran 14 times
loop ran 15 times
loop ran 16 times
loop ran 17 times
loop ran 18 times
loop ran 19 times
loop ran 20 times
loop ran 21 times
loop ran 22 times
loop ran 23 times
loop ran 24 times
loop ran 25 times
loop ran 26 times
loop ran 27 times
loop ran 28 times
loop ran 29 times
loop ran 30 times
loop ran 31 times
loop ran 32 times
loop ran 33 times
loop ran 34 times
loop ran 35 times
loop ran 36 times
loop ran 37 times
loop ran 38 times
loop ran 39 times
loop ran 40 times
loop ran 41 times
loop ran 42 times
loop ran 43 times
loop ran 44 times
loop ran 45 times
loop ran 46 times
loop ran 47 times
loop ran 48 times
loop ran 49 times
loop ran 50 times

,subreddit,author,created_utc,body
0,RoastMe,Meditation-Blue-Ball,1601866157,Size 2 face on a size 6 head
1,RoastMe,Jayboosh_Returns,1601866153,His handwriting is sloppier than his hair
2,RoastMe,contraelmundo,1601866152,Chester Bennington minus Chester Bennington pl...
3,RoastMe,deadweeboo,1601866110,Idk man you Kinda sus
4,RoastMe,throwaway_peggy,1601866107,"You're very, very generous."
...,...,...,...,...
4995,RoastMe,ThatHotGuyIRL,1601811358,&gt;girl\n&gt;gamer\n\nKek
4996,RoastMe,bahcodad,1601811352,I don't think there's anything left on her pla...
4997,RoastMe,nebonymous,1601811327,2020‚Äôs politically correct Mickey Mouse
4998,RoastMe,SexyToilet37,1601811297,Perpetually in school until she gets engaged. ...
4999,RoastMe,thebeatabouttostrike,1601811294,Is your gamer name Maxxie Mouse?

In [4]:
url = 'https://api.pushshift.io/reddit/search/comment'
posts_list = []
utc = 1601866162
for i in range(1,51):
    params = {
        'subreddit': 'toastme',
        'size': 100,
        'before': utc
    }
    res = requests.get(url, params)
    
    posts_list.extend(res.json()['data'])
    
    utc = res.json()['data'][99]['created_utc']
    print(f'loop ran {i} times')
    time.sleep(10)


df2 = pd.DataFrame.from_dict(posts_list)
df_toastme_comments = df2[['subreddit', 'author',  'created_utc', 'body']]
df_toastme_comments

loop ran 1 times
loop ran 2 times
loop ran 3 times
loop ran 4 times
loop ran 5 times
loop ran 6 times
loop ran 7 times
loop ran 8 times
loop ran 9 times
loop ran 10 times
loop ran 11 times
loop ran 12 times
loop ran 13 times
loop ran 14 times
loop ran 15 times
loop ran 16 times
loop ran 17 times
loop ran 18 times
loop ran 19 times
loop ran 20 times
loop ran 21 times
loop ran 22 times
loop ran 23 times
loop ran 24 times
loop ran 25 times
loop ran 26 times
loop ran 27 times
loop ran 28 times
loop ran 29 times
loop ran 30 times
loop ran 31 times
loop ran 32 times
loop ran 33 times
loop ran 34 times
loop ran 35 times
loop ran 36 times
loop ran 37 times
loop ran 38 times
loop ran 39 times
loop ran 40 times
loop ran 41 times
loop ran 42 times
loop ran 43 times
loop ran 44 times
loop ran 45 times
loop ran 46 times
loop ran 47 times
loop ran 48 times
loop ran 49 times
loop ran 50 times

,subreddit,author,created_utc,body
0,toastme,lacygnette,1601865828,Who *wouldn‚Äôt* like you? You‚Äôve got an attract...
1,toastme,annarchy8,1601865751,All the hugs!!
2,toastme,elenzo96,1601865712,I will take that hug also :)
3,toastme,trash_teriyaki,1601865665,"Here's to you, for pushing through your strugg..."
4,toastme,Kittenswithtoast,1601865660,That's amazing!!!! You look so happy and I hop...
...,...,...,...,...
4995,toastme,1mJustugly,1600799323,thank you really! Yeah... i hardly smile but w...
4996,toastme,themaincotton_mouth,1600799202,A toastüçû
4997,toastme,bekindalways23,1600799196,Generally when you do the right thing (as you ...
4998,toastme,DexterSaintJock,1600799180,"I've had it before, stick around and then afte..."
4999,toastme,primeirofilho,1600799109,"From your title, I was expecting something dif..."

In [5]:
big_df = pd.concat([df_roastme_comments, df_toastme_comments])
big_df

,subreddit,author,created_utc,body
0,RoastMe,Meditation-Blue-Ball,1601866157,Size 2 face on a size 6 head
1,RoastMe,Jayboosh_Returns,1601866153,His handwriting is sloppier than his hair
2,RoastMe,contraelmundo,1601866152,Chester Bennington minus Chester Bennington pl...
3,RoastMe,deadweeboo,1601866110,Idk man you Kinda sus
4,RoastMe,throwaway_peggy,1601866107,"You're very, very generous."
...,...,...,...,...
4995,toastme,1mJustugly,1600799323,thank you really! Yeah... i hardly smile but w...
4996,toastme,themaincotton_mouth,1600799202,A toastüçû
4997,toastme,bekindalways23,1600799196,Generally when you do the right thing (as you ...
4998,toastme,DexterSaintJock,1600799180,"I've had it before, stick around and then afte..."
4999,toastme,primeirofilho,1600799109,"From your title, I was expecting something dif..."

In [6]:
big_df.to_csv('roastme_toastme.csv', index = False)